<!DOCTYPE html>
<html>
  <head>
    <title> Gear Tracker </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  </head>
    <header>
        <% include ../views/partials/header %>
    </header>
  <body>
    <h1> test </h1>
    <p>Welcome to Gear Tracker!</p>

    <% if (!user) { %>
    	<a href="/login"> Login</a>
    	<a href="/register"> Register</a>
    <% } %>

    <% if (user) { %>
    	<p>You are currently logged in as <%= user.username %></p>
    	<a href='/pong'>Testing</a>
    	<a href="/logout">Logout</a>

		<% instruments.forEach( function( instrument ) { %>
    		<h3><%= instrument.type %> | <%= instrument.model %> | <button>add to user list</button></h3>
    	<% }); %>

    <% } %>









   <script src='http://code.jquery.com/jquery.js'></script>
   <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
  </body>
</html>