<!DOCTYPE html>
<html>
  <head>
    <title> Gear Tracker </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <h1> test </h1>
    <p>Welcome to Gear Tracker!</p>

    <% if (!user) { %>
    	<a href="/login"> Login</a>
    	<a href="/register"> Register</a>
    <% } %>

	<div class="col-md-6">
    	<% if (user) { %>
    		<p>You are currently logged in as <%= user.username %></p>
    		<a href='/pong'>Testing</a>
    		<a href="/logout">Logout</a>

			<% instruments.forEach( function( instrument ) { %>
    			<h6 class="globalList"><%= instrument.type %>  <%= instrument.model %> <button class="add">add to user list</button></h6>
    		<% }); %>

    	<% } %>
    </div>

    <div class="col-md-6">
		<h4>My personal list</h4>
		<ul id="my-list">
		</ul>
		<button class="finalize">Submit List</button>
    </div>

   <script src='http://code.jquery.com/jquery.js'></script>
   <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

   <script>
	   $(function() {
			$(document).on('click', '.add', function() {
				$(this).parent().removeClass("globalList").addClass("personalList");
	        	$(this).parent().appendTo("#my-list");
	    	});
	    });
   </script>

   <script>

		$(function() {
			$('.finalize').on('click', function() {
   		//declare an array
		var my_array = new Array();

			$('.personalList').each(function(){
	   			my_array.push($(this).text());
	   			console.log(my_array);
	   		});
			});
		});
   </script> 

  </body>
</html>