<!DOCTYPE html>
<html>
  <head>
    <title> GearTracker </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  </head>
  <body>
    <h1> Rock On! </h1>
    <p>Welcome to Gear Tracker!</p>


    <% if (!user) { %>
    	<h1>hahahaha you are not a user yet
    <% } %>



    <% if (user) { %>
    	<p>You are successfuly who you say you are <%= user.username %></p>

    <% } %>


   <script src='http://code.jquery.com/jquery.js'></script>
   <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
  </body>
</html>in