body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif,;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 70px;
  width: 100%;
}

h1 {
	color: #42b8dd;
}

h3 {
	color: #009241 ;
}

h4 {
	color: #f6c401;
}

ul {
	list-style-type: square;
	color:white;
}

p{
	color:white;
}

a {
  color: #00B7FF;
}

.logout {
   background: rgb(66, 184, 221);

}

.body_div {
	padding: 50px;
}

#logreg {
	position: absolute;
	right: 10px;
	bottom: 10px;

}

form {
	display: inline;
}
#my-list button {
	display: none;
}

.page_copy {
    text-align: center;
	vertical-align: middle;
}

.list {
	display: inline-block;
	margin-left: 450px;
}

.globalList {
	color: #ca3c3c;
}

#nav {
     width: 100%;
     position: fixed;
     margin-bottom: 70px;
     top: 0;  
     }


.add {
	font-size: 70%;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
