body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

<<<<<<< HEAD
#my-list button {
	display: none;
}
=======
#nav {
     width: 100%;
     position: absolute;
     top: 0;  
     }
>>>>>>> header_logo
